In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset 

Main dataset used for analysis

In [2]:
import pandas as pd
df = pd.read_csv('../datasets/dps-thesis-dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   participant_number                  87 non-null     int64
 1   survey_done                         87 non-null     object
 2   chatbot_done                        87 non-null     object
 3   chatbot_group                       87 non-null     object
 4   first_year                          78 non-null     object
 5   gender                              78 non-null     object
 6   year_in_school_simplified           78 non-null     object
 7   first_prog_course                   78 non-null     object
 8   C1                                  87 non-null     float64
 9   C2                                  87 non-null     float64
 10  E1                                  87 non-null     int64
 11  Difference_C2_C1                    87 non-null     float64
 12  inconclusive_session_count          87 non-null     int64
 13  learning_session_count              87 non-null     int64
 14  task_completion_session_count       87 non-null     int64
 15  total_session_count                 87 non-null     int64
 16  total_interaction_count             87 non-null     int64
 17  interaction_to_session_ratio        87 non-null     float64
 18  control_treatment_asnumber          87 non-null     int64
 19  first_prog_course_asnumber          78 non-null     float64
 20  gender_asnumber                     78 non-null     float64
 21  year_in_school_simplified_asnumber  78 non-null     float64
dtypes: float64(7), int64(8), object(7)
memory usage: 15.1+ KB